{% extends 'base.html' %}

{% block content %}

<div class="auth-box">
    <h1>Регистрация</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="auth-field">
            <label>Имя пользователя</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="auth-field">
            <label>Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="auth-field">
            <label>Пароль</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div class="auth-field">
            <label>Повторите пароль</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <button type="submit" class="auth-btn">
            Зарегистрироваться
        </button>
    </form>
</div>

{% endblock %}